COHERE_API_KEY=SZY8aZqLpjTbNxQ28fTnTyvqBBSrlxsLhbGny3uM
PINECONE_API_KEY=pcsk_4RMpdN_6uKoemQpK6vV16KtMoRpPxgwyqnsp2ghpmr4BG7esZUDd3Ewqro1s9b63SDpohG
PINECONE_ENVIRONMENT=us-east-1
PINECONE_INDEX_NAME=coding-docs-index
MONGODB_URI=mongodb://localhost:27017/
MONGODB_DB_NAME=rag_extracted_data
